
.seccionProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color:rgb(110, 107, 102); */
    overflow: hidden;
    color: black;
    justify-content: space-around;
}

/* .seccionProductos div {}? */

/* .encabezado{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;   
} */

.producto{
    display: flex;
    border: solid 5px;
    border-color: rgb(110, 107, 102);
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    width: 200px;
    height: 250px;
    margin: 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(110, 107, 102);
    font-size: 1.5rem;
    padding: 8px;
    justify-content: space-evenly;
    text-align: center;
}
.producto:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid rgba(110, 107, 102, 0.4) ;
}   

.producto>div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;    
}
.producto>div:nth-child(1)>div:nth-child(1){
    width: 20%;
}
.producto>div:nth-child(1)>div:nth-child(2){
    width: 60%;
}
.producto>div:nth-child(1)>div:nth-child(2)>img{
    width: 100%;
    object-fit: contain;
}

.producto>div>div:nth-child(2)>img{
    height: 100%;
}

.producto>div:nth-child(1)>div:nth-child(3){
    width: 15%;
}
.producto>div:nth-child(2){
    height: 15%;
    font-size: 1.3rem;
}
.producto>div:nth-child(3){
    height: 15%;
    text-align: center;
    color: rgb(110, 107, 102);
    font-size: 1.6rem;
    /* align-content:; */
}
.producto>div:nth-child(4){
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.producto>div:nth-child(4) input[type="number"]{
    text-align: center;
    color: rgb(110, 107, 102);
    font-size: 1.2rem; 
    width: 35%;
}

/* Se elimina spin button en Chrome, Safari, Edge, Opera */
.producto>div:nth-child(4) input[type="number"]::-webkit-inner-spin-button, 
.producto>div:nth-child(4) input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

/* Se elimina spin button en Firefox */
input[type=number] {
    appearance: textfield;
    /* -moz-appearance: textfield; */
}

.botonComprar {
        background-color:rgb(110, 107, 102);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: fixed;
        bottom: 10px ; 
        right: 10px;
        background-image: url(../imagenes/carritoCompras2.png);
        background-size: 80% 80%;
        background-position: 40% 70%;
        background-repeat: no-repeat;
        border: 2px solid rgb(65, 11, 110);
}

.botonComprar:hover {
    background-color: rgb(114, 113, 111);
    width: 120px;
    height: 120px;
    border: 5px solid rgb(65, 11, 110);
}

.botonComprar:active{
    border: 4px solid rgb(65, 11, 110);
}



/* Fondo del modal */
.modal {
    display: none;
    background-color:rgb(110, 107, 102);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 1
}

/* Contenido del modal */
.modalContenido {
    background-color:rgb(110, 107, 102);
    margin: 15% auto;
    padding: 20px;
    border: 4px solid rgb(65, 11, 110);
    border-radius: 15px;
    width: 80%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Agrega una animación de entrada al modal */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Botón de cerrado del modal */
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Encabezado del Modal */
.modalEncabezado {
    padding: 2px 16px;
    color: white;
}

/* Cuerpo del Modal */
.modalCuerpo {
    padding: 2px 16px;
}

/* Pie del Modal */
.modalPie{
    display: flex;
    padding: 2px 16px;
    color: white;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
.modalPie input{
    float: right;
    margin: 5px;
}

/* Clases para adaptar el detalle cuando el stock es insuficiente */
.stockError{
    color: red;
}
.elementoOculto{
    visibility: hidden;
}