body{
    /* display: flex;
    flex-direction: column; */
    color: white;
    background-color: rgb(184, 181, 185);
}

header {
    display: flex;
    flex-direction:row;
    justify-content: start;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(65, 11, 110);
}
/* 
.menu {

} 
*/
nav {
    display: flex;
    border-radius: 10px;
    overflow: hidden;    
}

.menu ul {
    display: flex;
    align-items: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.menu li {
    background-color: rgb(65, 11, 110);
}

.menu li a {    
    color: white;
    text-align: center;
    padding: 31px 40px;
    text-decoration: none;
    transition: background-color .5s ease;
}
.menu li a:hover {
    background-color:rgb(110, 107, 102);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(65, 11, 110);
}
footer> div {
    max-width: 30%;
}

.contacto {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content:space-around;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.seccion {
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover; 
    width: 100%;
    display: flex;
    align-items: center;
}

.seccionContenido {
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 10px;
    margin: 5%;
    width: 500px;
    color:rgb(110, 107, 102);
    text-align: center;
    font-size: 1.2rem;
    padding-inline: 35px;
    padding-bottom: 35px;
    overflow: hidden;
}

.seccionContenido:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(110, 107, 102, 0.4) ;
    
}   

.seccionContenido span {
    font-size: 1.5rem;
    font-weight: bolder;
}

.derechos {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#historia {
    background-image: url("../imagenes/barco.jpg");
}

#vision {
    background-image: url("../imagenes/vision.webp");
}

#infoGeneral {
    background-image: url("../imagenes/gondola.jpg");
}

#descripcion {
    /* height: auto; */
    text-align: center;
    font-size: large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 100px;
    margin-bottom: 0px;
    margin-top: 50px;
    color:rgb(110, 107, 102);
    background-color: white;
    
}
